{
  "env": {
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "rules": {
    "no-console": "off",
    "no-underscore-dangle": [
      "off",
      {
        "allow": [
          "_id"
        ]
      }
    ]
  }
}